In [1]:
import pandas as pd
import numpy as np
titanic = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

#The ticket number of the passenger are all unique and don't have a concrete format. 
#Therefore, no analysis could be done on the ticket number and thus is dropped.
#The cabin number has lots of missing data and they can't be easily imputed (no average cabin number). 
#Thus, we drop the column 'cabin'.
#The names of the passengers don't really determine much and most are unique. 
#Thus, no analysis can be done on their name and thus is dropped.
titanic = titanic.drop('Ticket', axis=1)
titanic = titanic.drop('Cabin', axis=1)
titanic = titanic.drop('Name', axis=1)

df1 = titanic[titanic['Pclass'] == 1]
q75, q25 = np.percentile (df1['Fare'], [75, 25])
iqr = q75 - q25
print(iqr)
#df1.groupby()
print(df1)
#display interquartile range

62.57605
     PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare  \
1              2         1       1  female  38.0      1      0  71.2833
3              4         1       1  female  35.0      1      0  53.1000
6              7         0       1    male  54.0      0      0  51.8625
11            12         1       1  female  58.0      0      0  26.5500
23            24         1       1    male  28.0      0      0  35.5000
..           ...       ...     ...     ...   ...    ...    ...      ...
871          872         1       1  female  47.0      1      1  52.5542
872          873         0       1    male  33.0      0      0   5.0000
879          880         1       1  female  56.0      0      1  83.1583
887          888         1       1  female  19.0      0      0  30.0000
889          890         1       1    male  26.0      0      0  30.0000

    Embarked
1          C
3          S
6          S
11         S
23         S
..       ...
871        S
872        S
879        C
887        S
889        C

[216 rows x 9 columns]

In [26]:
titanic_dropFares = pd.DataFrame(titanic)
for x in titanic_dropFares.index:
  if titanic_dropFares.loc[x, "Fare"] <= 0:
    titanic_dropFares.drop(x, inplace = True)
titanic_averageFare = titanic_dropFares.groupby(by = 'Pclass').mean()
titanic_averageFare = titanic_averageFare.drop('PassengerId', axis = 1)
titanic_averageFare = titanic_averageFare.drop('Age', axis = 1)
titanic_averageFare = titanic_averageFare.drop('SibSp', axis = 1)
titanic_averageFare = titanic_averageFare.drop('Parch', axis = 1)
df1 = titanic_dropFares[titanic_dropFares['Pclass'] == 1]
q75, q25 = np.percentile (df1['Fare'], [75, 25])
iqr = q75 - q25
outlier_max1 = 1.5*iqr + titanic_averageFare['Fare'][1]
outlier_min1 = titanic_averageFare['Fare'][1] - 1.5*iqr
print('outlier max class 1: '+ str(outlier_max1))
print('outlier min class 1: '+ str(outlier_min1))
df2 = titanic[titanic['Pclass'] == 2]
q75, q25 = np.percentile (df2['Fare'], [75, 25])
iqr = q75 - q25
outlier_max2 = iqr + titanic_averageFare['Fare'][2]
outlier_min2 = titanic_averageFare['Fare'][2] - 1.5*iqr
print('outlier max class 2: '+ str(outlier_max2))
print('outlier min class 2: '+ str(outlier_min2))
df3 = titanic_dropFares[titanic_dropFares['Pclass'] == 3]
q75, q25 = np.percentile (df3['Fare'], [75, 25])
iqr = q75 - q25
outlier_max3 = iqr + titanic_averageFare['Fare'][3]
outlier_min3 = titanic_averageFare['Fare'][3] - 1.5*iqr
print('outlier max class 3: '+ str(outlier_max3))
print('outlier min class 3: '+ str(outlier_min3))

outlier max class 1: 186.72702440758297
outlier min class 1: -14.429275592417085
outlier max class 2: 34.358661235955054
outlier min class 2: 1.8586612359550543
outlier max class 3: 21.537874948665298
outlier min class 3: 2.162874948665298

In [ ]:
titanic_train= pd.DataFrame(titanic[0:700])
titanic_train

In [ ]:
titanic_test= pd.DataFrame(titanic[701:].drop('Survived', axis = 1))
titanic_test